@mixin font-style($fz, $fw) {
    color: $white;
    font: {
        family: $ff;
        size: $fz;
        weight: $fw;
    }
}

@mixin link-font-style($fz, $fw, $td) {
    color: $white;
    font: {
        family: $ff;
        size: $fz;
        weight: $fw;
    }

    text-decoration: $td;

    &:focus {
        outline: none;
    }
}

@mixin flex ($jc, $ai, $flw) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-wrap: $flw;
}

