/* SVG styles by Michael*/


.dot {
    opacity: 0;
}

.shore-line {
    stroke-dasharray: 4126;
    stroke-dashoffset: 4126;
}

.current-line {
    stroke-dasharray: 557;
    stroke-dashoffset: 557;
}